<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
</head>

<body id="page-top">
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-instrucoes">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="carousel slide" data-bs-ride="false" id="carousel-1">
                        <div class="carousel-inner">
                            <div class="carousel-item active"><img class="w-100 d-block" src="assets/img/1.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/2.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/3.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/4.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/5.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/6.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/7.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/8.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/9.png" alt="Slide Image"></div>
                        </div>
                        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                        <div class="carousel-indicators"><button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="1"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="2"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="3"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="4"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="5"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="6"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="7"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="8"></button></div>
                    </div>
                    <p>Siga os passos para conseguir sua chave de API do Google Maps, necessária para consultas na aplicação, guarde essa chave bem e não forneça a ninguém.</p><a href="https://console.cloud.google.com/">Acesse o Google Cloud e crie um projeto</a>
                    <p>Este é um serviço que requer servidor, para ajudar o desenvolvedor, por favor faça um pix de qualquer valor para a chave arthurpdesimone@gmail.com. Obrigado!</p>
                </div>
                <div class="modal-footer"><button class="btn btn-primary" id="prosseguir" type="button">Prosseguir</button></div>
            </div>
        </div>
    </div>
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-expand bg-white shadow mb-4 topbar static-top navbar-light">
                    <div class="container-fluid">
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100">
                            <div>
                                <div class="input-group"><input class="bg-light form-control border-0 small" type="text" id="api" placeholder="Insira sua chave de API"><button class="btn btn-primary py-0" id="search" type="button" onclick="search()"><i class="fas fa-search" id="search-icon"></i><span class="spinner-border spinner-border-sm" role="status" id="spinner"></span></button><input class="bg-light form-control border-0 small" type="text" id="pagina-final" placeholder="Página final de pesquisa"></div>
                            </div>
                        </form>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <hgroup>
                        <h3 class="text-dark mb-4">Resultados</h3>
                    </hgroup>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" id="progress-bar-animated" style="width: 50%;">50%</div>
                            </div>
                            <p class="text-primary m-0 fw-bold">Imóveis para alugar em Brasília - DF</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0 sticky-top" id="dataTable">
                                    <thead class="thead">
                                        <tr>
                                            <th>Índice</th>
                                            <th>Endereço</th>
                                            <th>Preço (R$)</th>
                                            <th>Área (m²)</th>
                                            <th>Carro (min)</th>
                                            <th>Transporte Público (min)</th>
                                            <th>Link</th>
                                            <th>E-mail</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table-body"></tbody>
                                    <tfoot>
                                        <tr>
                                            <td><strong>Índice</strong></td>
                                            <td><strong>Endereço</strong></td>
                                            <td><strong>Preço (R$)</strong></td>
                                            <td><strong>Área (m²)</strong></td>
                                            <td><strong>Carro (min)</strong></td>
                                            <td><strong>Transporte Público (min)</strong></td>
                                            <td><strong>Link</strong></td>
                                            <td><strong>E-mail</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Arthur Pendragon De Simone 2023</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>